

.cal-heatmap-container {
	border-style: solid;
	border-width: 2px;
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;

}

.cal-heatmap-container .domain-background {
	/*fill: #75B4C9;*/
}

.y_2000.m_1 .domain-background {
	/*fill: blue;*/
}

.cal-heatmap-container .subdomain-text  {
	font-size: 10px;
	fill: #000000;
}

.cal-heatmap-container .graph-label
{
	font-size: 12px;
}

#previous {
	font-size: 20px;
	display: inline-block;
	font-family: futura;
}

#next {
	font-size: 20px;
	display: inline-block;
	font-family: futura;
	float: right;
}

#jumpTo {
	font-family: futura;
	display: block;
	margin-top: 50px;
	text-align: center;
}

#rewind {
	font-family: futura;
	text-align: center;
}

.tooltip{
    display: inline;
 	position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}