body {
	background-color: #d2de76;
}

.cal-heatmap-container {
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	display: inline;

}

.cal-heatmap-container .domain-background {
	/*fill: #75B4C9;*/
}

.y_2000.m_1 .domain-background {
	/*fill: blue;*/
}

.cal-heatmap-container .subdomain-text  {
	font-size: 8px;
	fill: #000000;
}

.cal-heatmap-container .graph-label
{
	font-size: 12px;
}

.button {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	background-color: white;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	font-family: futura;
}

#previous {
	font-size: 20px;
	display: inline-block;
	float: left;
}

#next {
	font-size: 20px;
	display: inline-block;
	margin-left: 10px;
}

#jumpTo {
	font-size: 12px;
	font-family: futura;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 100px;
}

#rewind {
	font-size: 12px;
	font-family: futura;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

#onClick-placeholder {
	font-family: futura;
}
